/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    overflow:hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-color: #E4E4E4;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
     overflow: hidden;
}

html,
body,
#home-page {
    height: 100%;
    margin: 0;
    padding: 0;
     overflow: hidden;
}



#home-page .ui-content {
    height: calc(100% - 86px);
      width: calc(100% - 10px);
    overflow: hidden;
    padding: 5px; 
    /* 88px = header's height 44px and footer's 44px plus 1px */
}



h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
}
/* 3D visu */

#canvas {
     overflow: hidden;  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}
/* LED */

.led {
    margin: 20px auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}

.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}