<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.ircam.repmus.efficace.cordova.traj" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Orientation</name>
    <description>
        An application that sends the device Orientation via OSC.
    </description>
    <author email="jgarcia@ircam.fr" href="http://www.ircam.fr">
    </author>
    <content src="index.html" />
    <access origin="*" />

</widget>
